// width
@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content
  }
}

// height
@mixin rh($height) {
  @media only screen and (max-height: $height + "px") {
    @content
  }
}

@mixin rhmin($height) {
  @media only screen and (min-height: $height + "px") {
    @content
  }
}

@mixin sm {
  @include rmin($sm) {
    @content
  }
}

@mixin md {
  @include rmin($md) {
    @content
  }
}

@mixin lg {
  @include rmin($lg) {
    @content
  }
}

@mixin xl {
  @include rmin($xl) {
    @content
  }
}

@mixin sm-max {
  @include r($sm - 1) {
    @content
  }
}

@mixin md-max {
  @include r($md - 1) {
    @content
  }
}

@mixin lg-max {
  @include r($lg - 1) {
    @content
  }
}

@mixin xl-max {
  @include r($xl - 1) {
    @content
  }
}

@mixin placeholder-color($color) {
  &::placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &::-webkit-input-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &::-moz-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &:-moz-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    transition: color .3s ease;
    color: $color !important;
    opacity: 1;
  }
}

// font-family
@mixin font($alias, $name) {
  @font-face {
    font-family: $alias;
    src: url("~@/assets/fonts/" + $name + ".woff2") format("woff2"), url("~@/assets/fonts/" + $name + ".woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

// to use:
//@include font(black, cytiapro-black-webfont)

@mixin OpenSans-Regular {
  font-family: 'OpenSans-Regular';
}

@mixin Montserrat-Regular {
  font-family: 'Montserrat-Regular';
}

@mixin Montserrat-SemiBold {
  font-family: 'Montserrat-SemiBold';
}

@mixin Montserrat-Bold {
  font-family: 'Montserrat-Bold';
}

@mixin Montserrat-ExtraBold {
  font-family: 'Montserrat-ExtraBold';
}
