$white: #FFFFFF;
$black: #000;
$blue: #3AC6E7;
$light-gray: #E1E1E1;

$sm: 568;
$md: 768;
$lg: 992;
$xl: 1024;

$wrapper_horizontal_padding: 1rem;
$wrapper_width: 79rem + ($wrapper_horizontal_padding * 2);
