.site {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
  overflow: hidden;

  & > .wrapper {
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  &__inner {
    min-height: 100%;
    width: 100%;
    border: 1px solid $light-gray;
    overflow-y: auto;
  }
}

.wrapper {
  width: 100%;
  max-width: $wrapper_width;
  padding: 0 $wrapper_horizontal_padding;
  margin: 0 auto;
  @include xl {
    max-width: calc(100% - 4rem);
  }
}

.content {
  max-width: 58.75rem + (1rem * 2);
  margin: 0 auto;
  padding: 3.75rem 1rem;
  animation: fadeInUp .6s ease;
}
